{% extends 'base.html.twig' %}

{% block title %}Nueva alerta{% endblock %}

{% block body %}

    <h1 class="title">Nueva alerta</h1>
    {{ include('alerta/_userform.html.twig') }}
    <script src="/assets/js/mapUserForm.js"></script>
    <script src="/assets/js/validationForm.js"></script>

{% endblock %}
