
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="asests/style.css" rel="stylesheet" type="text/css">
        <title>{% block title %}SeoAlert{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml, <svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🚩</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}

        <!-- Custom -->
        <link rel="stylesheet" href="/assets/css/inicio.css">

        {% endblock %}
    </head>

        {% block body %}
    <body>

    <section>
        <div class="baner">
            <img class="imgPortada" src="{{ asset('assets/img/bosque.jpg') }}" alt="Imagen de bosque" />
            <h1 class="tituloPortada">SEOAlert</h1>
        </div>
    
        <div class="contenido">
            <h2> ¿Has visto una Amenaza para la Biodiversidad?</h1>
            <p>Te damos a la Bienvenida a nuestro sistema de Alertas</p>
            <div class="botonesPortada">
                <button><a href="{{ path('app_alerta_new') }}">Alertar</a></button>
                <button><a href="{{ path('app_alerta_index') }}">Soy admin</a></button>
            </div>
            <div class="logoSEO">
                <img src="{{ asset('assets/img/logoSEO_sf.png')}}" alt="Logo SEO" />
            </div>
        </div>
    </section>
    <footer> </footer>
    </body>
    {% endblock %}
    </html>

