{% extends 'base.html.twig' %}

{% block title %}Enviado{% endblock %}

{% block body %}
<div class="card m-0 vh-100 justify-content-center align-items-center">
        {% for message in app.flashes('exito') %}
            <h3 class="alert text-center">
                {{ message }}
            </h3>
        {% endfor %}
    
        <div class="mundito">
            <img src="{{ asset('assets/img/Group 3.svg') }}" alt="Biodiversidad" />
        </div>
        <a href="{{ path('app_logout') }}"><button class='align-items-center'>{{ button_label|default('Salir') }}</button></a>
</div>
{% endblock %}
