{% extends 'base.html.twig' %}

{% block title %}Edit Alerta{% endblock %}

{% block body %}
    <h1>Edit Alerta</h1>

    {{ include('alerta/_form.html.twig', {'button_label': 'Update'}) }}

    <button><a href="{{ path('app_alerta_index') }}">back to list</a></button>

    {{ include('alerta/_delete_form.html.twig') }}
{% endblock %}
