{% extends 'base.html.twig' %}

{% block title %}New Alerta{% endblock %}

{% block body %}
    <h1>Create new Alerta</h1>

    {{ include('alerta/_form.html.twig') }}

    <a href="{{ path('app_alerta_index') }}">back to list</a>
{% endblock %}
